@model Charger.Domm.Entities.Customer
@{
    ViewBag.Title = "Administracja: edycja klienta " + @Model.FullName;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="panel">
    <div class="panel-heading">
        <h3>Edycja klienta: @Model.FullName</h3>
    </div>

    @using (Html.BeginForm("EditCustomer", "Admin",
        FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.CustomerId)
            @foreach (var property in ViewData.ModelMetadata.Properties)
                        {
                            switch (property.PropertyName)
                            {
                                case "CustomerId":
                                case "Operations":
                                    break;

                                default:
                                    <div class="form-group">
                                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                                        @Html.TextBox(property.PropertyName, null,
                                            new {@class = "form-control"})
                                        @Html.ValidationMessage(property.PropertyName)
                                    </div>
                                    break;
                            }


                        }


        </div>
        <div class="panel-footer">
            <input type="submit" value="Zapisz" class="btn btn-primary" />
            @Html.ActionLink("Anuluj i wróć do listy", "CustomersIndex", null, new
            {
                @class = "btn btn-default"
            })
        </div>
    }
</div>